<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" routeLink="home">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">



        <li routerLinkActive="active">
          <a class="nav-link"  routerLink="home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">PizzaParty</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" routerLink="/pizzas">Pizza</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        &nbsp;
        &nbsp;
        &nbsp;
        <li class="nav-item">
            <a href="#"><img src="assets/image/fr.png"></a>
            &nbsp;
        </li>
        <li class="nav-item">
            <a href="#"><img src="assets/image/uk.png"></a>
        </li>


        <!--Debut sing-In and sing up-->
        <ng-container *ngIf="!connecterUser"> 

        &nbsp;

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="login">
            <button type="button" class="btn btn-outline-info"> Sign In</button>
          </a>
        </li>
        &nbsp;

      </ng-container>
     <!-- Fin sing-In and sing up-->
      
    <ng-container *ngIf="connecterUser">
      <li>
        <a href="#" (click)="logout()">Logout ({{connecterUser.username}})</a>
      </li>
    </ng-container>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="inscription"> 
            <button type="button" class="btn btn-outline-info"> Sign up</button> 
          </a>  
        </li>

      </ul>
    </div>

</nav>