.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #202d4c;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }

}
