
<!------ Include the above in your HEAD tag ---------->



<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let i of cart; let x=index">
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>{{i.pizza.name}}</td>
                            <td><div *ngFor="let ingredient of i.pizza.ingredients">
                                <p class="card-text"> {{ingredient.name}},</p>
                            </div></td>
                              
                            <td scope="col" class="text-center">
                                  
                                    <button (click)="removeQuantity(x)" class="btn btn-sm  btn-success"> <i class="fa fa-minus"></i></button>
                                       
                                        <label class="monLabel" >{{i.quantity}}</label>
                                    
                                        <button (click)="addQuantity(x)"   class="btn btn-sm  btn-success"> <i class="fa fa-plus"></i></button>
                            </td>

                            <!-- <td class="text-right"> {{ i.quantity==1 ? i.pizza.price : price }} €</td> -->
                            <td class="text-right"> {{i.pizza.price * i.quantity }} €</td>

                            <td class="text-right"><button 
                                (click)="removePizza(x)"  class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        
                        <tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{totalPrice}} €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light" routerLink="/pizzas">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase" onclick="click()">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

